html
   head
      title Uniform item
   body
      if(type == "error")
         h3(style = "color:red") #{message}
      else
         h3 New uniform item:
         p  item_type: #{uniform_item.item_type}
         p   size: #{uniform_item.size},
         p  item_number: #{uniform_item.item_number},
         p   status: #{uniform_item.status} added to database
